services:
  # FastAPI Backend
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URL=mongodb://mongodb:27017
    depends_on:
      - mongodb
    volumes:
      - ./backend/app:/app  # Hot reload for backend
    restart: unless-stopped

  # Quasar Frontend
  frontend:
    build: ./frontend
    ports:
      - "9000:9000"








    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend
    command: quasar dev # Start Quasar dev server
    restart: unless-stopped

  # MongoDB Database
  mongodb:
    image: mongo:4.4
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=fastapi_db
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

volumes:
  # MongoDB Database
  mongodb_data: